<ion-header>
  <ion-toolbar align="center">
    <ion-title>
      Editar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="updateBookingForm" (ngSubmit)="updateForm()">
      <ion-item>
        <ion-label position="floating">Materia</ion-label>
        <ion-input formControlName="materia" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Calificación 1</ion-label>
        <ion-input formControlName="nota1" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Calificación 2</ion-label>
        <ion-input formControlName="nota2" type="text" required>
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit"  shape="full" expand="block">Actualizar Notas</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>